
<h1>Users</h1>
<%= link_to 'New User', new_user_path %>

<table>
  <tbody>
    <% @users.each do |user| %>
    <section class="pb-4">
      <div class="bg-white border rounded-5">

        <section class="p-2 d-flex  w-100" style="background-color: #fbfbfb; border-radius: .5rem .5rem 0 0;">
          <!--Section: News of the day-->
          <div class="col-md-2 mb-2">
            <h4><strong>Post: <%= user.name  %></strong></h4>
            <h4>Role: <%= user.role.name %></h4>
            <h6>Email: <%= user.email %></h6>
            <%= link_to 'Show', user %>
            <%= link_to 'Edit', edit_user_path(user) %>
            <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </section>
      </div>
    </section>
    <% end %>
  </tbody>
</table>

<br>

