<h1>Tags</h1>
<%= link_to 'New Tag', new_tag_path %>

<table>
  <tbody>
  <% @tags.each do |tag| %>
    <section class="pb-4">
      <div class="bg-white border rounded-5">

        <section class="p-2 d-flex  w-100" style="background-color: #fbfbfb; border-radius: .5rem .5rem 0 0;">
          <!--Section: News of the day-->
          <div class="col-md-2 mb-2">
            <h4><strong>Tags: <%= tag.name %></strong></h4>
            <%= link_to 'Show', tag %>
            <%= link_to 'Edit', edit_tag_path(tag) %>

            <br>
            <% if @taging.find { |val| val.tag_id == tag.id }.nil? %>
              Tag is not used anywhere:
              <%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
        </section>
      </div>
    </section>
  <% end %>
  </tbody>
</table>

<br>


