
<h1>Roles</h1>
<%= link_to 'New Role', new_role_path %>
<table>
  <tbody>
    <% @roles.each do |role| %>
    <section class="pb-4">
      <div class="bg-white border rounded-5">

        <section class="p-2 d-flex  w-100" style="background-color: #fbfbfb; border-radius: .5rem .5rem 0 0;">
          <!--Section: News of the day-->
          <div class="col-md-2 mb-2">
            <h4><strong>Role: <%= role.name %></strong></h4>
            <%= link_to 'Show', role %>
            <%= link_to 'Edit', edit_role_path(role) %>
            <%= link_to 'Destroy', role, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </section>
      </div>
    </section>
    <% end %>
  </tbody>
</table>

<br>
