<%= simple_form_for @post do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if post.post_type == 'C' && !@current_user&.admin? || post.post_type.nil? %>
    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>

    <div class="field">
      <%= form.label :content %>
      <%= form.rich_text_area :content %>
    </div>

    <%= form.input :tag_ids, as: :select, collection: Tag.order(:name), label_method: :name, input_html: { multiple: true } %>

    <br>
  <% end %>

  <% if @current_user&.admin? %>

    <div class="field">
      <%= form.label :approved %>
      <%= form.check_box :post_type, { checked: false }, 'A', 'R' %>
    </div>
  <% elsif post.post_type == 'AR'%>
    <div class="field">
      <%= form.label :add_to_draft %>
      <%= form.check_box :post_type, { checked: false }, 'C', 'AR' %>
    </div>
  <% elsif post.post_type == 'R'%>
    <div class="field">
      <%= form.label :add_to_draft %>
      <%= form.check_box :post_type, { checked: false }, 'C', 'R' %>
    </div>
  <% else %>
    <div class="field">
      <%= form.label :add_to_moderation %>
      <%= form.check_box :post_type, { checked: false }, 'M', 'C' %>
    </div>
  <% end %>

  <%= form.submit "Draft", class: 'btn btn-lg btn-primary float-right' %>


<% end %>

