<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% unless @current_user&.admin? %>
    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>

    <div class="field">
      <%= form.label :description %>
      <%= form.trix_editor :description, required: true, autofocus: true %>
    </div>
  <% end %>

  <% if @current_user&.admin? %>
    <div class="field">
      <%= form.label :post_type %>
      <%= form.check_box :post_type, { checked: false }, 'A', 'R' %>
    </div>
  <% else %>
    <div class="field">
      <%= form.label :post_type %>
      <%= form.check_box :post_type, { checked: false }, 'M', 'C' %>
    </div>
  <% end %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
