<h1>Posts</h1>

<table>
  <tbody>
  <% @posts.each do |post| %>
    <% if post.post_type == 'P' %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= post.user.name %></td>
        <td><%= link_to 'Show', post %></td>
        <td>
          <% if can? :update, post %>
            <%= link_to 'Edit', edit_post_path(post) %>
          <% end %>
        </td>
        <td>
          <% if can? :destroy, post %>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
<% if can? :create, Post %>
  <%= link_to 'New Post', new_post_path %>
<% end %>
<br>

<div class="apple_pagination">
  <%= will_paginate @posts, :container => false %>
</div>

