<h1>New Post</h1>
<% if can? :create, Post %>
  <%= link_to 'New Item', new_post_path %>
<% end %>

<br>

<h1>Draft</h1>
<% @draft.each do |post| %>
  <section class="pb-4">
    <div class="bg-white border rounded-5">

      <section class="p-2 d-flex  w-100" style="background-color: #fbfbfb; border-radius: .5rem .5rem 0 0;">
        <!--Section: News of the day-->
        <div class="col-md-2 mb-2">
          <h4><strong>Post: <%= post.title %></strong></h4>
          <td><%= link_to 'Show', post %></td>

          <% if can? :update, post %>
            <%= link_to 'Edit', edit_post_path(post) %>
          <% end %>
          <td>
            <% if can? :destroy, post %>
              <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </td>
        </div>
      </section>
    </div>
  </section>
<% end %>

<h1>Moderation</h1>

<% @moderation.each do |post| %>
  <section class="pb-4">
    <div class="bg-white border rounded-5">

      <section class="p-2 d-flex  w-100" style="background-color: #fbfbfb; border-radius: .5rem .5rem 0 0;">
        <!--Section: News of the day-->
        <div class="col-md-2 mb-2">
          <h4><strong>Post: <%= post.title %></strong></h4>
          <td><%= link_to 'Show', post %></td>
          <% if can? :destroy, post %>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      </section>
    </div>
  </section>
<% end %>

<h1>Rejected</h1>

<% @rejected.each do |post| %>
  <section class="pb-4">
    <div class="bg-white border rounded-5">

      <section class="p-2 d-flex w-100" style="background-color: #fbfbfb; border-radius: .5rem .5rem 0 0;">
        <!--Section: News of the day-->
        <div class="col-md-2 mb-2">
          <h4><strong>Post: <%= post.title %></strong></h4>
          <td><%= link_to 'Show', post %></td>
          <% if can? :update, post %>
            <%= link_to 'Edit', edit_post_path(post) %>
          <% end %>
          <% if can? :destroy, post %>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      </section>
    </div>
  </section>
<% end %>

<h1>Approved</h1>

<% @approved.each do |post| %>
  <section class="pb-4">
    <div class="bg-white border rounded-5">

      <section class="p-2 d-flex w-100" style="background-color: #fbfbfb; border-radius: .5rem .5rem 0 0;">
        <!--Section: News of the day-->
        <div class="col-md-2 mb-2">
          <h4><strong>Post: <%= post.title %></strong></h4>
          <td><%= link_to 'Show', post %></td>
          <% if can? :destroy, post %>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      </section>
    </div>
  </section>
<% end %>

<h1>Archive</h1>

<% @archive.each do |post| %>
  <section class="pb-4">
    <div class="bg-white border rounded-5">

      <section class="p-2 d-flex w-100" style="background-color: #fbfbfb; border-radius: .5rem .5rem 0 0;">
        <!--Section: News of the day-->
        <div class="col-md-2 mb-2">
          <h4><strong>Post: <%= post.title %></strong></h4>
          <td><%= link_to 'Show', post %></td>
          <% if can? :update, post %>
            <%= link_to 'Edit', edit_post_path(post) %>
          <% end %>
          <% if can? :destroy, post %>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      </section>
    </div>
  </section>

<% end %>
